@import url("https://fonts.googleapis.com/css2?family=Rajdhani:wght@500&display=swap");
* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}
.form {
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  height: 100vh;
}
.form-container {
  width: 100%;
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
}
h1 {
  margin: 10px 0;
}
input[type="text"],
input[type="email"],
input[type="password"],
input[type="submit"] {
  font-size: 16px;
  width: 90%;
  height: 30px;

  border-radius: 5px;
  border: 2px solid #f4f4f7;
  box-shadow: 0 0 0.5px 0.5px rgba(0, 0, 0, 0.2);
}
.gender {
  margin: 10px 0;
}
.login {
  cursor: pointer;
}
.sign_up {
  cursor: pointer;
}
.signUp {
  color: blue;
  cursor: pointer;
}
.Login {
  color: blue;
  cursor: pointer;
}

// dashoard
.header {
  height: 20%;
  // background-color: aquamarine;
}

.nav {
  height: 100%;
  display: flex;
  align-items: center;
  margin: 0 40px;
  background-color: white;
  justify-content: end;
}

#use {
  margin-right: 20px;
  color: rgb(66, 68, 66);
}

#remove {
  height: 2.5rem;
  width: 6rem;
  font-size: 24px;
  background-color: rgb(39, 212, 39);
  border-radius: 6px;
  border: 1px solid rgb(39, 212, 39);
  color: white;
}
// .nav-img {
//   // width: 24px;
//   // height: 24px;
// }
// .login-img {
//   border-radius: 6px;
//   height: 35px;
//   width: 35px;
// }

// .nav {
//   height: 25vh;
//   background-color: aquamarine;
// }

.container {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 50px;
  background-color: #e1e3ea;
  height: 100vh;
  font-family: sans-serif;
}

.app {
  width: 60%;
}

@media (max-width: 768px) {
  .app {
    width: 90%;
  }
}

.app h1 {
  color: white;
  font-size: 40px;
  padding: 10px 0;
  text-align: center;
  border-radius: 0.5rem 0.5rem 0 0;
  background-color: rgb(39, 212, 39);
  font-family: "Rajdhani", sans-serif;
}

.app form {
  display: flex;
  width: 100%;
  background-color: rgb(64, 119, 64);
}

.app form input {
  border: none;
  background-color: rgb(132, 192, 132);
  font-size: 18px;
  color: white;
  padding: 10px;
  width: 90%;
}

.app form button {
  border: none;
  color: white;
  background-color: rgb(39, 212, 39);
  font-size: 25px;
  font-weight: 600;
  height: 42px;
  width: 10%;
}

.app ul {
  list-style: none;
  color: #e0e0e0;
  padding: 0;
}

.app ul li {
  display: flex;
  align-items: center;
  justify-content: space-between;
  padding: 10px;
  background-color: #262e4c;
  border-bottom: 1px solid #3a4674;
}

.check {
  margin-right: 10px;
  width: 1.5em;
  height: 1.5em;
  cursor: pointer;
  border-radius: 50%;
  background-color: white;
  border: 1px solid rgb(255, 255, 255);
  -webkit-appearance: none;
}

.check:checked {
  background-color: rgb(39, 212, 39);
}
.del {
  width: 1.5em;
  height: 1.5em;
  color: rgb(39, 212, 39);
  cursor: pointer;
}
.edit {
  margin-right: 15px;
  margin-left: 10px;
  width: 1.5em;
  height: 1.5em;
  color: rgb(39, 212, 39);
  cursor: pointer;
}

.task {
  font-size: 18px;
  padding: 0 10px;
  width: fit-content;
  background: transparent;
  border: none;
  color: #fff;
}

.task:focus {
  outline: none;
}

.app ul li i {
  float: right;
  cursor: pointer;
}

.app ul li i:hover {
  color: rgb(255, 82, 82);
}

.completed {
  color: rgba(39, 212, 39, 0.8);
  text-decoration: line-through;
}
